[Unit]
Description=Check for pacman and AUR updates

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'updates="$(checkupdates; pacaur -k --color never | tr -s " " | cut -d" " -f3-6)"; [ -n "$updates" ] && notify-send "updates available" "$updates" || true'
