[Unit]
Description=Randomize the wallpaper

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'DISPLAY=:0 feh --randomize --bg-fill /home/llama/.wallpaper/*.png'
