[user]
	name = KeyboardFire
	email = andy@keyboardfire.com
[push]
	default = simple
[core]
	editor = nvim
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"
[credential]
	helper = cache
