[user]
    name = Andy Tockman
    email = andy@tck.mn
    signingkey = andy@tck.mn
[push]
    default = simple
[core]
    editor = nvim
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"
[pull]
    ff = only
[init]
    defaultBranch = main
