.sass-cache

.vim/plugged
.vim/autoload/plug.vim.old

.i3/i3bang.rb
.i3/screenshot/imgur_authid

.mutt/password

.ssh/id_rsa
.ssh/aur

.weechat/logs
.weechat/weechat.log
.weechat/sec.conf
.weechat/ecdsa.pem

.gnupg/crls.d
.gnupg/openpgp-revocs.d
.gnupg/private-keys-v1.d
.gnupg/pubring.kbx
.gnupg/pubring.kbx~
.gnupg/random_seed
.gnupg/trustdb.gpg
