.sass-cache

.vim/plugged
.vim/autoload/plug.vim.old

.i3/screenshot/imgur_authid

.mutt/private

.ssh/id_rsa
.ssh/aur
.ssh/alpaca

.weechat/logs
.weechat/weechat.log
.weechat/sec.conf
.weechat/ecdsa.pem

.gnupg/crls.d
.gnupg/openpgp-revocs.d
.gnupg/private-keys-v1.d
.gnupg/pubring.kbx
.gnupg/pubring.kbx~
.gnupg/random_seed
.gnupg/tofu.db
.gnupg/trustdb.gpg

.local/share/plover/commands.json
.local/share/plover/main.json
.local/share/plover/plover.log
.local/share/plover/strokes.log

.newsbeuter/cache.db*
.newsbeuter/history.*

.ghc/x86_64-linux-8.0.1
.ghc/ghci_history

.mpd/database
.mpd/log
.mpd/pid
.mpd/playlists
.mpd/state
.mpd/sticker.sql

.ncmpcpp/error.log

.config/mpv/watch_later
