.sass-cache
.i3/i3bang.rb
.vim/plugged
.vim/autoload/plug.vim.old
.i3/screenshot/imgur_authid
.mutt/password
.ssh/id_rsa
.ssh/aur
.weechat/logs
.weechat/weechat.log
.weechat/sec.conf
.weechat/ecdsa.pem
