! generic config
URxvt.font: xft:Hack:pixelsize=14
URxvt.scrollBar: false


! Perl plugins
URxvt.perl-ext-common: keyboard-select,clipboard,url-select

URxvt.keysym.M-Escape: perl:keyboard-select:activate

URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.M-C-V: perl:clipboard:paste_escaped

URxvt.keysym.M-u: perl:url-select:select_next


! Solarized colorscheme
! stolen from https://github.com/solarized/xresources/blob/master/Xresources.dark
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900
*color0:                S_base02
*color8:                S_base03
*color1:                S_red
*color9:                S_orange
*color2:                S_green
*color10:               S_base01
*color3:                S_yellow
*color11:               S_base00
*color4:                S_blue
*color12:               S_base0
*color5:                S_magenta
*color13:               S_violet
*color6:                S_cyan
*color14:               S_base1
*color7:                S_base2
*color15:               S_base3
