version 1
snippet html
	<!DOCTYPE html>
	<html lang='en'>
	    <head>
	        <meta charset='utf-8'>
	        <meta name='viewport' content='width=device-width'>
	        <title>${1:hai}</title>
	    </head>
	    <body>$0</body>
	</html>
snippet script
	<script type='text/javascript' src='${1:script.js}'></script>
snippet style
	<link rel='stylesheet' type='text/css' href='${1:style.css}'></link>
