/* @import url("file:///home/llama/.styles/duolingo.css"); */
/* @import url("file:///home/llama/.styles/rustlang.css"); */
@import url("file:///home/llama/.styles/archlinux.css");
@import url("file:///home/llama/.styles/archrorg.css");
@import url("file:///home/llama/.styles/cardcastgame.css");
@import url("file:///home/llama/.styles/cppreference.css");
@import url("file:///home/llama/.styles/dwarffortresswiki.css");
@import url("file:///home/llama/.styles/github.css");
@import url("file:///home/llama/.styles/google.css");
@import url("file:///home/llama/.styles/groupme.css");
@import url("file:///home/llama/.styles/hackernews.css");
@import url("file:///home/llama/.styles/learnyouahaskell.css");
/*@import url("file:///home/llama/.styles/mdn.css");*/
@import url("file:///home/llama/.styles/mozillaaddons.css");
@import url("file:///home/llama/.styles/myschoolapp.css");
@import url("file:///home/llama/.styles/nethackwiki.css");
@import url("file:///home/llama/.styles/pretendyourexyzzy.css");
@import url("file:///home/llama/.styles/stackexchange-all-default.css");
@import url("file:///home/llama/.styles/stackexchange-chat-default.css");
@import url("file:///home/llama/.styles/stackexchange.css");
@import url("file:///home/llama/.styles/supersite.css");
@import url("file:///home/llama/.styles/telegram.css");
@import url("file:///home/llama/.styles/tokipona.css");
@import url("file:///home/llama/.styles/usaco.css");
@import url("file:///home/llama/.styles/userstyles.css");
@import url("file:///home/llama/.styles/webassign.css");
@import url("file:///home/llama/.styles/webdiplomacy.css");
@import url("file:///home/llama/.styles/wikipedia.css");
@import url("file:///home/llama/.styles/wordreference.css");
