$red:     #ab4642;
$orange:  #dc9656;
$yellow:  #f7ca88;
$green:   #a1b56c;
$cyan:    #86c1b9;
$blue:    #7cafc2;
$magenta: #ba8baf;
$violet:  #a16946;

$black:   #181818;
$grey1:   #282828;
$grey2:   #383838;
$grey3:   #585858;
$grey4:   #b8b8b8;
$white:   #d8d8d8;

@-moz-document domain("cardcastgame.com") {

body {
    background-color: $black;
    color: $white;
}

.form-control, .btn-default {
    background-color: $grey2;
    border-color: $grey3;
    color: $white;
}

.table > tbody > tr > td, .table > tbody > tr > th,
        .table > tfoot > tr > td, .table > tfoot > tr > th,
        .table > thead > tr > td, .table > thead > tr > th {
    border-color: $grey3;
}

.input-highlight.has-success input, .input-highlight.has-error input,
        .input-highlight.has-warning input {
    background-color: $grey3;
}

.form-control:focus {
    border-color: $blue;
    box-shadow: 0 0 6px $blue;
}

.has-success .form-control {
    border-color: $green;
    box-shadow: none;
}

.has-success .form-control:focus {
    box-shadow: 0 0 6px $green;
}

.has-error .form-control {
    border-color: $red;
    box-shadow: none;
}

.has-error .form-control:focus {
    box-shadow: 0 0 6px $red;
}

.has-warning .form-control {
    border-color: $yellow;
    box-shadow: none;
}

.has-warning .form-control:focus {
    box-shadow: 0 0 6px $yellow;
}

}
