/* I wrote this! \o/ */

@-moz-document domain("learnyouahaskell.com") {

.bgwrapper {
    background-color: #181818;
    color: #d8d8d8;
}

h2 {
    color: #d8d8d8;
}

.hintbox {
    background: #282828;
}

.fixed {
    background-color: #383838;
}

a { color: #7cafc2; }
a:visited { color: #ba8baf; }

}
