/* I wrote this! \o/ */

@-moz-document domain('nethackwiki.com') {

.todo, .prettytable th,
        #mainpage-featured, #mainpage-news, #mainpage-forum,
        .page-Main_Page #mw-content-text > table td {
    background-color: #282828 !important;
    border-color: #383838 !important;
}

img:not(.mw-wiki-logo) {
    filter: invert(100%) hue-rotate(180deg);
}

}
