/* I made this! \o/ */

@-moz-document domain("stackoverflow.com"),
               domain("serverfault.com"),
               domain("superuser.com"),
               domain("stackapps.com"),
               domain("mathoverflow.net"),
               domain("askubuntu.com"),
               domain("stackexchange.com") {

    html, body, h1, h2, h3, h4, h5, h6,
            #hlogo a,
            .topbar *, .nav ul li a,
            .navi-container,
            .votes, .votes strong,
            .excerpt, p,
            .reputation, .reputation-score,
            .mod-flair,
            .user-card .user-card-name,
            .user-card .user-stats .number,
            #mainbar-full .name,
            .label,
            .rep,
            /*chat*/
            .username, #sidebar, .stars .times {
        color: #d8d8d8 !important;
    }

    .topbar, .container, #content, #footer, /*chat*/ #container, .timestamp {
        background-color: #181818 !important;
        color: #d8d8d8 !important;
        box-shadow: none !important; /* .container */
    }

    input, textarea, .post-tag,
            #sidebar .module#toc,
            #sidebar .module.newuser,
            #sidebar .module.community-bulletin,
            .new-post-activity, .topbar-dialog, .topbar-dialog .header,
            #toc, pre, code, .question-status, .answer-votes, .row .card,
            h2.bottom-notice, #sidebar #scroller > div, div.tag-editor,
            .grippie, .wmd-button-bar, .topbar-dialog li, .ad502-room,
            .topbar .topbar-icon-on, .topbar .topbar-icon-on:hover, .owner,
            .post-issue-display, .popup, .page-numbers, blockquote,
            .tag-container, kbd,
            /*chat*/
            .messages, .notification, .wmd-prompt-dialog, .tag, .room-mini,
            .roomcard, .usercard, .event-banner, .nav li {
        background-color: #282828 !important;
        border-color: #383838 !important;
        color: #d8d8d8 !important;
        text-shadow: none !important; /* kbd */
        box-shadow: none !important; /* kbd, .roomcard, .usercard, etc. */
    }

    .subheader, .question-summary, #question-header, .answer,
            .comments, .comment td, .single-badge-row-question,
            .badge-hierarchy, .row, .col, h3.title-section, .badges-wrapper,
            #avatar-card, .progress-bar .bar, .badge-progress {
        border-color: #383838 !important;
    }

    hr, .stroke { background-color: #383838 !important; }

    #top-tags .tag-container.row .col {
        border-color: #181818 !important;
    }

    .badge1-alternate, .badge-1 .percent {
        background-color: #504534 !important; /* mix(#f7ca88, #181818, 25%) */
        border-color: #504534 !important;
    }
    .badge2-alternate, .badge-2 .percent {
        background-color: #484848 !important; /* mix(#d8d8d8, #181818, 25%) */
        border-color: #484848 !important;
    }
    .badge3-alternate, .badge-3 .percent {
        background-color: #3a2c24 !important; /* mix(#a16946, #181818, 25%) */
        border-color: #3a2c24 !important;
    }
    .badge1-alternate, .badge2-alternate, .badge3-alternate {
        border-color: #383838 !important;
    }
    .badge1-alternate .badgecount, .badge2-alternate .badgecount,
            .badge3-alternate .badgecount {
        color: #d8d8d8 !important;
    }

    .recommended {
        background-color: #3a3f2d !important; /* mix(#a1b56c, #181818, 25%) */
    }

    .topbar-dialog .unread-item, .badge-tag, .action-list .action-selected,
            /*chat*/
            .reply-child, .reply-parent, .onebox {
        background-color: #383838 !important;
        border-color: #585858 !important;
        color: #d8d8d8 !important;
    }

    .topbar-dialog .modal-content.current-site-container {
        border-color: #7cafc2 !important;
    }

    .status.answered, .status.answered strong {
        color: #a1b56c !important;
    }

    .answered-accepted {
        background-color: #282828 !important;
        color: #a1b56c !important;
    }

    .deleted-answer-info, .deleted-post, .general-error {
        color: #ab4642 !important;
    }

    .deleted-post:hover {
        background-color: #ab4642 !important;
        color: #d8d8d8 !important;
    }

    .deleted-answer, .deleted-comment,
            .deleted-event td, .deleted-event-details td {
        background-color: #3d2423 !important; /* mix(#ab4642,#181818,75%) */
    }

    .page-numbers.current, .page-numbers:hover, .message.message-error {
        background-color: #ab4642 !important;
        color: #d8d8d8 !important;
    }

    .bounty-indicator, .bounty-indicator-tab {
        background-color: #86c1b9 !important;
        color: #181818 !important;
    }

    .cool        {            color: #d8d8d8 !important; }
    .warm        {            color: #f7ca88 !important; }
    .hot         {            color: #dc9656 !important; }
    .hotbg       { background-color: #dc9656 !important; color: #d8d8d8 !important; }
    .supernova   {            color: #ab4642 !important; }
    .supernovabg { background-color: #ab4642 !important; color: #d8d8d8 !important; }

    .avatar-card { box-shadow: none !important; }

    #top-cards div.graph, #top-cards div.graph svg#reputationGraph g path {
        filter: invert(100%);
    }

    #tabs a.youarehere, .nav li.youarehere a {
        color: #ab4642 !important;
        border-color: #ab4642 !important;
    }

    .badge-progress:hover {
        background-color: #383838 !important;
    }
    .badge-progress.completed {
        background-color: #3a3f2d !important; /* mix(#a1b56c, #181818, 25%) */
    }

    /* search result highlighting */
    .result-highlight {
        color: #ab4642 !important;
    }

    .vote > a {
        filter: invert(100%) hue-rotate(180deg);
    }

    a { color: #7cafc2 !important; }
    a:visited { color: #ba8baf !important; }

    input[type="submit"], input[type="button"], button, a.button, .btn {
        background: #a16946 !important;
        color: #d8d8d8 !important;
        text-shadow: none !important;
    }

    input[type="submit"][disabled], input[type="button"][disabled],
            button[disabled], a.button[disabled], .btn[disabled], ._disabled {
        background: #585858 !important;
        color: #b8b8b8 !important;
        text-shadow: none !important;
    }

    /* this is bad but seems necessary :/ */
    #newsletter-ad, #newsletter-ad > * {
        filter: invert(100%) hue-rotate(180deg);
    }

    /* CHAT-SPECIFIC STARTS HERE */

    .username.moderator { color: #7cafc2 !important; }
    .mention { background-color: #ab4642 !important; }
    .highlight, .mspbar { background-color: #585858 !important; }
    span.meta { background-color: transparent !important; }
    .stars:not(.user-star) .img.vote { filter: invert(100%); }
    #input-area, body.outside { background: #181818 !important; }

}
