/* I made this! \o/ */

@-moz-document domain("stackoverflow.com"),
               domain("serverfault.com"),
               domain("superuser.com"),
               domain("stackapps.com"),
               domain("mathoverflow.net"),
               domain("askubuntu.com"),
               domain("stackexchange.com") {

    html, body, h1, h2, h3, h4, h5, h6, .heading,
            #hlogo a, .topbar *, .nav ul li a, .navi-container, .mod-flair,
            .votes, .votes strong, .excerpt, p, .reputation, .reputation-score,
            .user-card .user-card-name, .user-card .user-stats .number,
            #mainbar-full .name, .label, .rep, .body-summary,
            .revision-comment,
            /*chat*/
            .username, .username a, #sidebar, .stars .times, .signature .flair,
            .system-message-container .system-message, #my-rooms > li > a,
            .general-room-access > form > div {
        color: #d8d8d8 !important;
    }

    .topbar, .container, #content, #footer, /*chat*/ #container, .timestamp,
            .btn-close {
        background-color: #181818 !important;
        color: #d8d8d8 !important;
        box-shadow: none !important; /* .container */
    }

    input, textarea, .post-tag,
            #sidebar .module#toc,
            #sidebar .module.newuser, .module.newuser,
            #sidebar .module.community-bulletin,
            .new-post-activity, .topbar-dialog, .topbar-dialog .header,
            #toc, pre, code, .question-status, .answer-votes, .row .card,
            h2.bottom-notice, #sidebar #scroller > div, div.tag-editor,
            .grippie, .wmd-button-bar, .topbar-dialog li, .ad502-room,
            .topbar .topbar-icon-on, .topbar .topbar-icon-on:hover, .owner,
            .post-issue-display, .popup, .page-numbers, blockquote,
            .tag-container, kbd, .tab-page, #tag-menu, #wiki-excerpt,
            .welovestackoverflow, .revision td, .vote-revision td,
            .review-bar,
            /*chat*/
            .messages, .notification, .wmd-prompt-dialog, .tag, .room-mini,
            .roomcard, .roomcard-xxl, .usercard, .usercard-xxl, .event-banner,
            .nav:not(.mainnavs):not(.askquestion) li, .message-controls,
            .conversation-info,
            /*se.com*/
            .hero-box, .user-about-me, .account-number, .date_brick,
            .featured-site, .blogcontainer, .newsletter-category,
            .newsletter-item, .newsletters-toggle, .filter-dashboard-summary,
            .filter-show-more,
            #sideBar .module.filters-sidebar,
            #sideBar .module.emailsub {
        background-color: #282828 !important;
        border-color: #383838 !important;
        color: #d8d8d8 !important;
        text-shadow: none !important; /* kbd */
        box-shadow: none !important; /* kbd, .roomcard, .usercard, etc. */
    }

    .topbar-dialog .unread-item, .badge-tag, .action-list .action-selected,
            .close-as-duplicate-pane .item.hover,
            .close-as-duplicate-pane .stats, .modal-footer,
            #mdhelp-tabs, .mdhelp-tabs, .wmd-help-button.active-help,
            .owner-revision td, a.action.selected, a.action:hover,
            /*chat*/
            .reply-child, .reply-parent, .onebox, .onebox * {
        background-color: #383838 !important;
        border-color: #585858 !important;
        color: #d8d8d8 !important;
    }

    #content, .subheader, .question-summary, #question-header, .answer,
            .comments, .comment td, .single-badge-row-question,
            .badge-hierarchy, .row, .col, h3.title-section, .badges-wrapper,
            #avatar-card, .progress-bar .bar, .badge-progress, .list-originals,
            .item, .snippet-code, #wmd-preview, .wmd-preview, .tm-heading,
            a.action,
            /*chat*/
            .catchup-marker, #starred-posts .collapsible > li,
            /*se.com*/
            .top-question-container, .top-answer-container, .account-container,
            .question-container, .league-container, .history-table td {
        border-color: #383838 !important;
        box-shadow: none !important; /* .question-container, .league-container */
    }

    hr, .stroke { background-color: #383838 !important; }

    #top-tags .tag-container.row .col {
        border-color: #181818 !important;
    }

    .badge1-alternate, .badge-1 .percent {
        background-color: #504534 !important; /* mix(#f7ca88, #181818, 25%) */
        border-color: #504534 !important;
    }
    .badge2-alternate, .badge-2 .percent {
        background-color: #484848 !important; /* mix(#d8d8d8, #181818, 25%) */
        border-color: #484848 !important;
    }
    .badge3-alternate, .badge-3 .percent {
        background-color: #3a2c24 !important; /* mix(#a16946, #181818, 25%) */
        border-color: #3a2c24 !important;
    }
    .badge1-alternate, .badge2-alternate, .badge3-alternate {
        border-color: #383838 !important;
    }
    .badge1-alternate .badgecount, .badge2-alternate .badgecount,
            .badge3-alternate .badgecount {
        color: #d8d8d8 !important;
    }

    .recommended {
        background-color: #3a3f2d !important; /* mix(#a1b56c, #181818, 25%) */
    }

    .topbar-dialog .modal-content.current-site-container {
        border-color: #7cafc2 !important;
    }

    .status.answered, .status.answered strong {
        color: #a1b56c !important;
    }

    .answered-accepted {
        background-color: #282828 !important;
        color: #a1b56c !important;
    }

    .deleted-answer-info, .deleted-post, .general-error, .search-errors {
        color: #ab4642 !important;
    }

    .deleted-post:hover, .deleted-answer .comment:hover {
        background-color: #ab4642 !important;
        color: #d8d8d8 !important;
    }

    .deleted-answer, .deleted-comment,
            .deleted-event td, .deleted-event-details td {
        background-color: #3d2423 !important; /* mix(#ab4642,#181818,75%) */
    }

    .page-numbers.current, .page-numbers:hover, .message.message-error {
        background-color: #ab4642 !important;
        color: #d8d8d8 !important;
    }

    .bounty-indicator, .bounty-indicator-tab, .bounty-award {
        background-color: #86c1b9 !important;
        color: #181818 !important;
    }

    .cool        {            color: #d8d8d8 !important; }
    .warm        {            color: #f7ca88 !important; }
    .hot         {            color: #dc9656 !important; }
    .hotbg       { background-color: #dc9656 !important; color: #d8d8d8 !important; }
    .supernova   {            color: #ab4642 !important; }
    .supernovabg { background-color: #ab4642 !important; color: #d8d8d8 !important; }

    .avatar-card { box-shadow: none !important; }

    #top-cards div.graph, #top-cards div.graph svg#reputationGraph g path {
        filter: invert(100%);
    }

    #tabs a.youarehere, .nav li.youarehere a {
        color: #ab4642 !important;
        border-color: #ab4642 !important;
    }

    .badge-progress:hover {
        background-color: #383838 !important;
    }
    .badge-progress.completed {
        background-color: #3a3f2d !important; /* mix(#a1b56c, #181818, 25%) */
    }

    #revisions .markdown-diff .full-diff .inserted > div {
        background-color: #3a3f2d !important; /* mix(#a1b56c, #181818, 25%) */
    }
    #revisions .markdown-diff .full-diff .deleted > div {
        background-color: #3d2423 !important; /* mix(#ab4642,#181818,75%) */
    }
    #revisions .markdown-diff .full-diff td {
        border-color: #181818 !important;
    }
    .diff-add { background-color: #a1b56c !important; color: #181818 !important; }
    .diff-delete { background-color: #ab4642 !important; color: #181818 !important; }

    /* search result highlighting */
    .result-highlight {
        color: #ab4642 !important;
    }

    .vote > a {
        filter: invert(100%) hue-rotate(180deg);
    }

    a { color: #7cafc2 !important; }
    a:visited { color: #ba8baf !important; }

    input[type="submit"], input[type="button"], button, a.button, .btn {
        background: #a16946 !important;
        color: #d8d8d8 !important;
        text-shadow: none !important;
    }

    input[type="submit"][disabled], input[type="button"][disabled],
            button[disabled], a.button[disabled], .btn[disabled], ._disabled {
        background: #585858 !important;
        color: #b8b8b8 !important;
        text-shadow: none !important;
    }

    /* this is bad but seems necessary :/ */
    #newsletter-ad, #newsletter-ad > * {
        filter: invert(100%) hue-rotate(180deg);
    }

    /* prettify (syntax highlighting) */
    .pln { color: #d8d8d8 !important; }
    .str { color: #a1b56c !important; }
    .kwd { color: #ab4642 !important; }
    .com { color: #585858 !important; }
    .typ { color: #f7ca88 !important; }
    .lit { color: #dc9656 !important; }
    .pun { color: #d8d8d8 !important; }
    .opn { color: #a16946 !important; }
    .clo { color: #a16946 !important; }
    .tag { color: #ab4642 !important; }
    .atn { color: #f7ca88 !important; }
    .atv { color: #a1b56c !important; }
    .dec { color: #ff0000 !important; } /*TODO*/
    .var { color: #00ff00 !important; } /*TODO*/
    .fun { color: #0000ff !important; } /*TODO*/

    /* CHAT-SPECIFIC STARTS HERE */

    .username.moderator { color: #7cafc2 !important; }
    .mention { background-color: #ab4642 !important; }
    .highlight, .mspbar, .message.selected { background-color: #585858 !important; }
    span.meta { background-color: transparent !important; }
    .stars:not(.user-star) .img.vote { filter: invert(100%); }
    #input-area, body.outside { background: #181818 !important; }
    .pending, .posted, .neworedit { color: #a1b56c !important; }
    .btn-delete { background: #181818; color: #d8d8d8; border-radius: 10px; text-align: center; }
    .btn-delete:after { content: "×"; }
    #my-rooms li.activity-0 { color: #d8d8d8 !important; } /* mix(#d8d8d8, #383838, 100.00%) */
    #my-rooms li.activity-1 { color: #bdbdbd !important; } /* mix(#d8d8d8, #383838, 83.333%) */
    #my-rooms li.activity-2 { color: #a3a3a3 !important; } /* mix(#d8d8d8, #383838, 66.666%) */
    #my-rooms li.activity-3 { color: #888888 !important; } /* mix(#d8d8d8, #383838, 50.000%) */
    #my-rooms li.activity-4 { color: #6d6d6d !important; } /* mix(#d8d8d8, #383838, 33.333%) */
    #my-rooms li.activity-5 { color: #535353 !important; } /* mix(#d8d8d8, #383838, 16.666%) */
    #my-rooms li.activity-6 { color: #383838 !important; } /* mix(#d8d8d8, #383838, 0.0000%) */

    /* STACKEXCHANGE.COM-SPECIFIC STARTS HERE */

    header { background: #181818 !important; }
    .page-numbers { background-image: none !important; }
    .account-icon { border: none !important; }
    #reputation-graph > #highcharts-0 > svg > rect { fill: #282828; }

}
