@-moz-document domain(train.usaco.org) {
    body { background: #181818; }
    body > font > div { background-color: #282828 !important; border-color: #585858 !important; }
    body > div > font > div, body > font > table > tbody > tr > td > table > tbody > tr > td > div { background-color: #282828 !important; border-color: #585858 !important; }
    body > div > font > div > div { background-color: #383838 !important; }
    body > div > center > table { background-color: #282828 !important; }
    td[bgcolor="#e0e0e0"] { background-color: #383838 !important; }
    tr[bgcolor="#e8f0e8"] { background-color: #282828 !important; }
    tr[bgcolor="#FFFFFF"] { background-color: #383838 !important; }
    table[bgcolor="#FFDCEC"] { background-color: #ab4642 !important; }
    table[bgcolor="white"] { background-color: #282828 !important; }
    a { color: #7cafc2; }
    a:visited { color: #ba8baf; }
}
