snippet html
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>${1:Page Title}</title>
    </head>
    <body>
        $0
    </body>
</html>
endsnippet

snippet script
<script type='text/javascript' src='${1:script.js}'></script>$0
endsnippet

snippet style
<link rel='stylesheet' type='text/css' src='${1:style.css}'></link>$0
endsnippet
